git+https://github.com/ktomanek/captioning.git
git+https://github.com/ktomanek/edge_tts_comparison.git
git+https://git@github.com/usefulsensors/moonshine.git#subdirectory=moonshine-onnx
soundfile
librosa
numpy
kokoro-onnx
onnxruntime
piper-phonemize-cross
emoji
nltk
openai
pyaudio
psutil
rich
silero_vad
soundfile
sounddevice
customtkinter
spacy